<!DOCTYPE html>
<html>
    <head>
        <title>Diet</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <header>
    <a href="#home" class="logo"><i class="fa-solid fa-dumbbell"></i> JackedRoar</a>
    <div id="menu-bar" class="fas fa-bars"></div>
    <nav class="navbar">
        <a href="/index"><b>Home</b></a>
        <a href="/sports"><b>Sports</b></a>
        <a href="/diet"><b>Daily Diet</b></a>
        <a href="/fitness"><b>Exercise</b></a>
        <a href="#"><b>Routine</b></a>
        <a href="#"><b>About</b></a>
        <a href="#"><b>Contact</b></a>
        
        <a href="/signup" class="btn">Signup</a> 
        <a href="/login" class="btn">Login</a> 
        <!-- <div class="search">
            <form action="#Recommended">
                
                <input type="text"
                    placeholder=" Search for an Exercise"
                    name="search">
                <button>
                    <i class="fa fa-search"
                        style="font-size: 18px;">
                    </i>
                </button>
            </form>
        </div> -->
    </nav>
    
</header>
        <section class="order" id="order">
        <!-- <h1 class="heading">Benefits of <span> Health Care</span> through Sports & Fitness</h1> -->
            
            <h1 class="heading"> <span>Order</span> Your Food Now</h1>
        
            <div class="row">
        
                <div class="image">
                <h2 class="heading">{{ diet_item }}</h2>
                </div>
        
            </div>
        
        </section>
        
    </body>
</html>