<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="styles.css">
    <title>Feedback | JackedRoar</title>
    <style>
        #feed{
            padding: 10px;
            background-color: gainsboro;
            width: 175px;
            height: 150px;
        }
    </style>
</head>
<body>
    <header>
        <a href="#home" class="logo"><i class="fa-solid fa-dumbbell"></i> JackedRoar</a>
        <div id="menu-bar" class="fas fa-bars"></div>

        <nav class="navbar">
            <a href="/"><b>Home</b></a>
            <a href="/sports"><b>Sports</b></a>
            <a href="/diet"><b>Daily Diet</b></a>
            <a href="/fitness"><b>Exercise</b></a>
            <a href="/routine"><b>Routine</b></a>
            <a href="/about"><b>About</b></a>
            <a href="/contact"><b>Contact</b></a>
            
            <!-- <a href="./signup.html" class="btn">Signup</a>  -->
            <!-- <a href="./login.html" class="btn">Login</a>  -->
        </nav>
    </header>
    <form action="/store_data" method="post">
        <label style="font-size: 19px;" for="name">Give your feedback here:</label>
        <input type="text" id="feed" name="feedback" required>
        <button type="submit" class="btn">Submit</button>
    </form>
    </body>
    </html>