<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basketball | JackedRoar</title>
</head>
<header>
    <nav class="navbar">
        <a href="./index.html"><b>Home</b></a>
        <a href="#"><b>Sports</b></a>
        <a href="./daily_diet.html"><b>Daily Diet</b></a>
        <a href="#"><b>Exercise</b></a>
        <a href="#"><b>Routine</b></a>
        <a href="#"><b>About</b></a>
        <a href="#"><b>Contact</b></a>
        
        <a href="#" class="btn">Signup</a> 
        <a href="#" class="btn">Login</a> 
        </nav>
    </header>
</body>
</html>