<!DOCTYPE html>
<html>
    <head>
        <title>FAQ | JackedRoar</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <a href="#home" class="logo"><i class="fa-solid fa-dumbbell"></i> JackedRoar</a>
            <div id="menu-bar" class="fas fa-bars"></div>
            <nav class="navbar">
                <a href="/home"><b>Home</b></a>
                <a href="/sports"><b>Sports</b></a>
                <a href="/diet"><b>Daily Diet</b></a>
                <a href="/fitness"><b>Exercise</b></a>
                <a href="/faq"><b>FAQ</b></a>
                <a href="#"><b>Routine</b></a>
                <a href="#"><b>About</b></a>
                <a href="#"><b>Contact</b></a>
                <!-- <div class="search">
                    <form action="#Recommended">
                        
                        <input type="text"
                            placeholder=" Search for an Exercise"
                            name="search">
                        <button>
                            <i class="fa fa-search"
                                style="font-size: 18px;">
                            </i>
                        </button>
                    </form>
                </div> -->
            </nav>
            
        </header>
    </body>
</html>