<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <header>
            <a href="#home" class="logo"><i class="fa-solid fa-dumbbell"></i> JackedRoar</a>
            <div id="menu-bar" class="fas fa-bars"></div>
    
            <nav class="navbar">
                <a href="./index.html"><b>Home</b></a>
                <a href="./sports.html"><b>Sports</b></a>
                <a href="#"><b>Daily Diet</b></a>
                <a href="./fitness.html"><b>Exercise</b></a>
                <a href="#"><b>Routine</b></a>
                <a href="#"><b>About</b></a>
                <a href="#"><b>Contact</b></a>
                
                <a href="./signup.html" class="btn">Signup</a> 
                <a href="./login.html" class="btn">Login</a> 
                <!-- <div class="search">
                    <form action="#Recommended">
                        
                        <input type="text"
                            placeholder=" Search for an Exercise"
                            name="search">
                        <button>
                            <i class="fa fa-search"
                                style="font-size: 18px;">
                            </i>
                        </button>
                    </form>
                </div> -->
            </nav>
            
        </header>
        <section class="order" id="order">
        <!-- <h1 class="heading">Benefits of <span> Health Care</span> through Sports & Fitness</h1> -->
            
            <!-- <h1 class="heading"> <span>Order</span> Your Food Now</h1> -->
        
            <div class="row">
        
                <div class="image">
                 <h2 class="heading"><span> Login</span> Page</h2>
                </div>
        
                <form action="">

                    <div class="inputBox inputBox1">
                        <input type="email" placeholder=" Enter Your E-mail Address">
                        <input type="password" placeholder="Enter Your Password">
                    </div>
        
                    <div class="inputBox">
                        <!-- <input type="number" placeholder="Number"> -->
                        <!-- <input type="text" placeholder="Food Name"> -->
                    </div>
        
                    <!-- <textarea placeholder="Address" name="" id="" cols="30" rows="10"></textarea> -->
        
                    <input type="submit" value="Submit" class="btn" style="margin-left: 580px;">
                    <p style="margin-left: 550px; margin-top: 10px;">Not ragisterd yet? <a href="./signup.html">Signup</a></p>
        
                </form>
        
            </div>
        
        </section>
        <section class="footer">

            <div class="share">
                <a href="https://www.facebook.com/" class="btn">facebook</a>
                <a href="https://www.twitter.com/" class="btn">twitter</a>
                <a href="https://www.instagram.com/" class="btn">instagram</a>
                <!-- <a href="https://www.facebook.com/" class="btn">pinterest</a> -->
                <a href="https://www.linur <span>kedin.com/" class="btn">linkedin</a>
            </div>
        
            <h1 class="credit"> &copy;2023  <span> JackedRoar </span> | all rights reserved! </h1>
        
        </section>
    </body>
</html>
